step_functions/stepfunction_bybit_setup_account.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Get List of Bybit Account Active for New Trades",
  "States": {
    "Get List of Bybit Account Active for New Trades": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:eu-west-1:263801614107:function:MPA-GetListAccountActive:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Map",
      "ResultPath": "$.accounts"
    },
    "Map": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "DynamoDB GetItem",
        "States": {
          "DynamoDB GetItem": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:getItem",
            "Parameters": {
              "TableName": "BybitAccountSetup",
              "Key": {
                "symbol.$": "$.parameter_name"
              }
            },
            "Next": "Close All Possible Open Trades",
            "ResultPath": "$.result"
          },
          "Close All Possible Open Trades": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "Payload.$": "$",
              "FunctionName": "arn:aws:lambda:eu-west-1:263801614107:function:MPA-GetOpenTrades:$LATEST"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "Next": "Open New Trade",
            "ResultPath": null
          },
          "Open New Trade": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
              "Payload.$": "$",
              "FunctionName": "arn:aws:lambda:eu-west-1:263801614107:function:MPA-OpenNewTrade:$LATEST"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "Next": "SNS Publish"
          },
          "SNS Publish": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
              "Message.$": "$",
              "TopicArn": "arn:aws:sns:eu-west-1:263801614107:MPA-BybitTradeNotification"
            },
            "End": true
          }
        }
      },
      "End": true,
      "ItemsPath": "$.accounts.Payload.active_accounts",
      "ItemSelector": {
        "side.$": "$.side",
        "price.$": "$.price",
        "symbol.$": "$.symbol",
        "parameter_name.$": "$.parameterName",
        "secret_name.$": "$$.Map.Item.Value"
      }
    }
  }
}